dataset/nerf_*
dataset/neus_*
dataset/nerfies_*

dataset/custom/cat/nerf/colmap

dataset/custom/cat/neus/colmap
dataset/custom/cat/neus/*.ply
dataset/custom/cat/neus/*.npy

dataset/custom/cat/nerfies/colmap
dataset/custom/cat/nerfies/images-raw
dataset/custom/cat/nerfies/camera-paths



dataset/custom/cup/colmap
dataset/custom/cup/nerfies/colmap
dataset/custom/cup/nerfies/images-raw
dataset/custom/cup/nerfies/camera-paths


src/__pycache__/
logs/export
logs/TEST-*
__pycache__/
dataset/__pycache__
model_nerf/__pycache__
model_neus/__pycache__
.idea
Neus-main
