dataset/nerf*
dataset/neus*
dataset/nerfies*

dataset/custom/cup/colmap
dataset/custom/cat/colmap
dataset/custom/cat/img_1
dataset/custom/cat/img_2
dataset/custom/cat/img_4
dataset/custom/cat/img_8


src/__pycache__/
logs/export
logs/TEST-*
__pycache__/
dataset/__pycache__
model_nerf/__pycache__
model_neus/__pycache__
.idea
Neus-main
