dataset/nerf_llff_data
dataset/nerf_synthetic
dataset/neus*

dataset/custom/cup/colmap
dataset/custom/cat/colmap

src/__pycache__/
logs/export
logs/TEST-*
__pycache__/
dataset/__pycache__
model_nerf/__pycache__
model_neus/__pycache__
.idea
Neus-main
